logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
conf/evolutions/default
securesocial.conf
public/node_modules
bower_components
public/js/*.js
public/js/*.js.map
public/components
public/lib
public/css
public/.idea
public/d.ts
