@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 13px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

.container {
    height: 100%;
}

#rooms {
  padding-top: 50px;
}

#chatContent {
    display: flex;
    height: 100%;
    padding-top: 50px;

    #onChat {
        flex: 1;
        display: flex;

        .messages-chat {
            flex: 2;
            display: flex;
            flex-direction: column;

            header {
                font-size: 24px;
                padding: 10px 0;

              label.nav {
                font-size: 65%;
              }
            }

            .messages {
                flex: 1;
                overflow-y: auto;

                div.message
                {
                    border-bottom: 1px solid #eee;
                    padding: 10px 0;

                    .avatar {
                      float: left;
                    }

                    .name {
                      color: #aaa;
                    }

                    .comment {
                      margin-top: 3px;
                    }

                    .option {
                      color: #CCCCCC;

                      .datetime {
                        float: right;
                        margin: 0;
                      }

                      .reply {
                        margin: 0 15px;
                        float: right;
                      }
                    }
                }
            }

            .talk {
                display: flex;
                flex-direction: column;
                margin: 5px 5px 20px 5px;

              blockquote.reply {
                background-color: #ffe;
              }
            }
        }
     
        @media (max-width: 900px) {
          #sidebar {
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            overflow-y: auto;
          }
        }

        #sidebar {
          display: flex;
          flex-direction: column;
          margin: 5px 0;

          ul {
            flex: 1;
            list-style: none;

            li.header {
              padding: 10px;
              font-weight: bold;
            }
          }
        }
    }
}

img.avatar {
    max-width: 36px;
    max-height: 36px;
}

img.avatar-small {
    max-width: 28px;
    max-height: 28px;
}

.row
{
    margin-bottom: 15px;
}

.navbar-nav > li > a
{
    padding-bottom: 0;
}

.link:hover {
   text-decoration: underline;
   cursor: pointer;
}

blockquote p {
  font-size: 50%;
}
