@(title: String)(content: Html)(implicit user:Option[securesocial.core.Identity])

<!doctype html>
<html ng-app>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/style.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("img/favicon.png")'>

    <script type="text/javascript" src='@routes.Assets.at("lib/jquery/jquery.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/bootstrap/js/bootstrap.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/angular/angular.js")'></script>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Phantasm</a>
        </div>
    </div>
</header>

<div class="container">
    @content
</div>
</body>
</html>
