@(title: String)(content: Html)(implicit user:Option[models.User], request: RequestHeader)

<!doctype html>
<html ng-app="phantasm">
<head ng-controller="Meta.Controller">
    <title ng-bind-template='{{meta.unread == 0 ? null : "(" + meta.unread + ")"}}Phantasm @title'></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/style.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("lib/highlightjs/styles/atelier-forest.light.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("img/favicon.png")'>

    <script type="text/javascript" src='@routes.Assets.at("lib/notify.js/notify.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/jquery/jquery.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/bootstrap/bootstrap.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/angular/angular.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/marked/lib/marked.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/angular-marked/angular-marked.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/ngInfiniteScroll/ng-infinite-scroll.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/highlightjs/highlight.pack.js")'></script>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top" ng-controller="Header.Controller">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Phantasm</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-if="room.name">
                <li><a href="#"><i class="fa fa-rocket"></i> {{room.name}} <img class="avatar-very-small" ng-src="{{room.owner.avatarUrl}}" /></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if(user.isDefined) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="avatar-very-small" src="@user.get.avatarUrl" />
                            @user.get.fullName <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="/account"><i class="fa fa-cog"></i> @Messages("phantasm.main.account")</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-out"></i> @Messages("phantasm.main.logout")</a></li>
                        </ul>
                    </li>
                } else {
                    <li>
                        <button type="button" class="btn btn-primary navbar-btn"><a href="/login"><i class="fa fa-sign-in"></i> Login</a></button>
                    </li>
                }
            </ul>
        </div>
    </div>
</header>

<div class="container">
    @content

    <script type='text/javascript' src='@routes.Assets.at("js/chat.js")'></script>
</div>
</body>
</html>
