@(room: Room)(implicit flash: play.api.mvc.Flash, user:Option[models.User], request: RequestHeader)

@main(room.name) {

<div id="chatContent" ng-init="roomId = @room.id; userId = @user.map(_.uid.get).getOrElse("null")">
    <div id="onChat" class="" ng-controller="Chat.Controller">
        <div class="messages-chat">
            <div class="messages" infinite-scroll="read_more()" infinite-scroll-disabled='busy' id="messages">
                <div class="message message-{{msg.kind}} {{msg.unread ? 'unread' : ''}}" ng-repeat="msg in messages" id="message-{{msg.comment.id}}" ng-mouseover="msg.in_mouse_over=true;read_message(msg)" ng-mouseleave="msg.in_mouse_over=false">
                    <img class="avatar" ng-src="{{msg.user.avatarUrl}}"/>
                    <span class="name">{{msg.user.fullName}}</span>
                    <span class="option">
                        <p class="datetime">{{msg.comment.created | date:'@Messages("phantasm.date.pattern.short")'}}</p>
                        @if(user.isDefined) {
                            <button type="button" class="btn btn-default btn-xs" ng-click="reply(msg)" ng-if="msg.in_mouse_over"><i class="fa fa-reply"></i> Reply</button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="quote(msg)" ng-if="msg.in_mouse_over"><i class="fa fa-quote-left"></i> Quote</button>
                        }
                    </span>
                    <div ng-if="msg.comment.replyTo">
                        <blockquote class="reply">
                            <img class="avatar-small" ng-src="{{msg.comment.replyTo.user.avatarUrl}}">
                            <span class="name">{{msg.comment.replyTo.user.fullName}}</span>
                            <div marked="msg.comment.replyTo.message"></div>
                        </blockquote>
                    </div>
                    <div class="comment" marked="msg.comment.message"></div>
                </div>
            </div>
            <div class="talk-body">
            @if(user.isDefined) {
                <a ng-if="connectionClosedEvent" href="/" class="btn btn-danger btn-lg btn-block"><i class="fa fa-warning"></i> Connection closed. cause [{{connectionClosedEvent.reason}}:{{connectionClosedEvent.code}}]. Please reload.</a>
                <div ng-if="replyTo">
                    reply to
                    <blockquote class="reply">
                        <img class="avatar-small" ng-src="{{replyTo.user.avatarUrl}}">
                        <span>{{replyTo.user.fullName}}</span>
                        <div marked="replyTo.message"></div>
                    </blockquote>
                    <button type="button" ng-click="replyCancel()" class="pull-right btn btn-default">Cancel</button>
                </div>
                <textarea ng-keypress="talk($event)" ng-keydown="talkBodyExpand()" ng-model="talkBody" id="talkBody" class="form-control" placeholder="input message here. (Shift+Enter to send)"></textarea>
            } else {
                <a href="/login" class="btn btn-primary btn-lg btn-block"><i class="fa fa-sign-in"></i> Please Login to join room</a>
            }
            </div>
        </div>
        <aside id="sidebar">
            <ul class="members">
                <li class="header"><i class="fa fa-users"></i> Members</li>
                <li ng-repeat="member in members" class="{{member.online ? 'online' : 'offline'}}">
                    <img class="avatar-small" ng-src="{{member.avatarUrl}}" />
                    <span>{{member.fullName}}</span>
                </li>
                <span ng-if="room.is_private && is_owned_room">
                    <li ng-if="!showAddMemberForm">
                        <button class="btn btn-default btn-xs" ng-click="openAddMemberForm()">add room member</button>
                    </li>
                    <li ng-if="showAddMemberForm">
                        <select ng-model="newMember" ng-options="user.fullName for user in addableUsers"></select>
                        <button class="btn btn-default btn-xs" ng-click="addMember(newMember)">add</button>
                        <button class="btn btn-default btn-xs" ng-click="closeAddMemberForm()">close</button>
                    </li>
                </span>

                <span ng-if="!room.is_private && userId != null && !is_room_member">
                    <li>
                        <button class="btn btn-default btn-xs" ng-click="join_room()">join as room member</button>
                    </li>
                </span>
            </ul>

            <ul class="rooms">
                <li class="header"><i class="fa fa-rocket"></i> rooms</li>
                <li ng-repeat="room in rooms">
                    <img class="avatar-small" ng-src="{{room.owner.avatarUrl}}" />
                    <a ng-href="/room/{{room.id}}">{{room.name}}</a>
                </li>
            </ul>
        </aside>
    </div>
</div>


}