@(room: Room)(implicit flash: play.api.mvc.Flash, user:Option[models.User], request: RequestHeader)

@import controllers._

@main(room.name) {

<div id="chatContent" ng-init="roomId = @room.id; userId = @user.get.uid.get">
    <div id="onChat" class="" ng-controller="Chat.Controller">
        <div class="messages-chat">
            <header>
                <div>
                    @room.name
                    <img src="@room.owner.avatarUrl" />
                </div>
                <div class="pull-right" ng-if="isSupportedNotification">
                    <div ng-if="needsPermission">
                        <button class="btn btn-link" ng-click="requestPermission()">Use Desktop notifications</button>
                    </div>
                    <div ng-if="!needsPermission">
                        <label class="nav">
                            Desktop Notifications
                            <input type="checkbox" ng-model="userSetting.desktopNotifications" ng-change="setNotification(userSetting.desktopNotifications)" />
                        </label>
                    </div>

                </div>
            </header>
            <div class="messages" infinite-scroll="read_more()" infinite-scroll-disabled='busy' id="messages">
                <div class="message" ng-repeat="msg in messages" id="message-{{msg.comment.id}}">
                    <img class="avatar" ng-src="{{msg.user.avatarUrl}}"/>
                    <span class="name">{{msg.user.fullName}}</span>
                    <span class="option">
                        <p class="datetime">{{msg.comment.created | date:'@Messages("phantasm.date.pattern.short")'}}</p>
                        <button class="reply btn btn-default btn-xs" ng-click="reply(msg)">reply</button>
                    </span>
                    <div ng-if="msg.comment.replyTo">
                        <blockquote class="reply">
                            <img class="avatar-small" ng-src="{{msg.comment.replyTo.user.avatarUrl}}">
                            <span class="name">{{msg.comment.replyTo.user.fullName}}</span>
                            <div marked="msg.comment.replyTo.message"></div>
                        </blockquote>
                    </div>
                    <div class="comment" marked="msg.comment.message"></div>
                </div>
            </div>
            <div class="talk">
                <div ng-if="replyTo">
                    reply to
                    <blockquote class="reply">
                        <img class="avatar-small" ng-src="{{replyTo.user.avatarUrl}}">
                        <span>{{replyTo.user.fullName}}</span>
                        <div marked="replyTo.message"></div>
                    </blockquote>
                    <a href="#" ng-click="replyCancel()" class="pull-right">(cancel)</a>
                </div>
                <textarea ng-keypress="talk($event)" ng-model="talkBody" id="talkBody" class="form-control" placeholder="input message here. (Shift+Enter to send)"></textarea>
            </div>
        </div>
        <aside id="sidebar">
            <ul class="members">
                <li class="header">members</li>
                <li ng-repeat="member in members" class="{{member.online ? 'online' : 'offline'}}">
                    <img class="avatar-small" ng-src="{{member.avatarUrl}}" />
                    <span>{{member.fullName}}</span>
                </li>
                <li ng-if="!showAddMemberForm">
                    <button class="btn btn-default btn-xs" ng-click="openAddMemberForm()">add room member</button>
                </li>
                <li ng-if="showAddMemberForm">
                    <select ng-model="newMember" ng-options="user.fullName for user in addableUsers"></select>
                    <button class="btn btn-default btn-xs" ng-click="addMember(newMember)">add</button>
                    <button class="btn btn-default btn-xs" ng-click="closeAddMemberForm()">close</button>
                </li>
            </ul>

            <ul class="rooms">
                <li class="header">rooms</li>
                <li ng-repeat="room in rooms">
                    <img class="avatar-small" ng-src="{{room.owner.avatarUrl}}" />
                    <a ng-href="/room/{{room.id}}">{{room.name}}</a>
                </li>
            </ul>
        </aside>
    </div>
</div>

<script type='text/javascript' src='@routes.Assets.at("js/chat.js")'></script>

}