@(id: Long)(implicit flash: play.api.mvc.Flash, user:Option[models.User])

@import helper._
@import controllers._
@import securesocial.core.SecureSocial

@main("sockets") {

<div ng-init="roomId = @id; userId = @user.get.uid.get">
    <div id="onChat" class="row" ng-controller="Chat.Controller">
        <div class="col-md-8">
            <div class="message" ng-repeat="msg in messages">
                <img class="avatar" src="{{msg.avatar}}"/>
                <span>{{msg.username}}</span>
                <p>{{msg.message}}</p>
            </div>
            <textarea ng-keypress="talk($event)" ng-model="talkBody" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-md-3">
            <h2>Members</h2>
            <ul>
                <li ng-repeat="member in members"><img class="avatar" src="{{member.avatar}}" /><span>{{member.name}}</span></li>
            </ul>
        </div>
    </div>
</div>

<script type='text/javascript' src='@routes.Assets.at("js/chat.js")'></script>

}